body {
    padding-top: 5rem;
}
/*
.container{
    display: flex;
    align-items: center;
    justify-content: center;

}
*/

.innercontainer {
    width: 500px;
    height: 600px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.img {
    border-radius: 50%;
    width: 180px; 
    height: 180px; 
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2f7531
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
}

.stat-item {
    text-align: center;
    margin: 0 15px
}

.stat-number {
    font-size: 20px; 
    font-weight: bold;
}


.follow-button {
    background-color: #81ee04; 
    color: #ffffff;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.low-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innercontainer p {
    color: #c0c0c0;

}

h1 {
    color: #ffffff;
}